.greetings {
  margin-bottom: 50px;

  &--hello {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.charts {
  display: flex;
  gap: 30px;

  &--left-col {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &--right-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &--small-charts {
    display: flex;
    gap: 30px;
  }
}

.chart-title {
  color: #282d30;
  font-size: 0.9375rem;
  font-weight: 500;
  position: absolute;
  top: 24px;
  left: 30px;
}
