*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1024px;
  min-height: 780px;
  font-family: 'Roboto', sans-serif;
}

.primary-color {
  color: #ff0101;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
